body {
  background-color: #212121;
  color: #e3e3e3;
  font-family: 'Roboto', sans-serif, 'Arial', 'Helvetica Neue', Helvetica;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ff9800;
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  justify-content: center;
  margin-bottom: 2.4rem;
}

.container {
  margin: 50px auto;
  max-width: 100vw;
  text-align: center;
}

#tasks-container {
  border: none;
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.4rem;
  padding: 2.4rem;
  width: 100%;
}

.add-task-container {
  margin-top: 2.4rem;
}

input[type="text"] {
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.9rem;
  width: 30vw;
}

.input-fields {
  align-items: center;
  color: #ff9800;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
  gap: 1rem;
  justify-content: space-evenly;
}

input[type="checkbox"] {
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  -webkit-transform: scale(2);
  cursor: pointer;
  transform: scale(2);
}

button#add-btn {
  background-color: #0096aa;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 1.2rem 1.5rem;
}

button#addTaskButton {
  background-color: #ff9800;
  border: none;
  border-radius: 0.5rem;
  color: #000000;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

button#add-btn:hover {
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  background-color: #007710;
  color: #ffffff;
  transition: 0.3s;
}

button.edit-btn {
  background-color: #b8002e;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
}

button:hover {
  background-color: #0096aa;
  color: #000000;
  transition: 0.3s;
}

.delete-btn {
  background-color: #0096aa;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 1rem;
  padding: 0.5rem 1.2rem;
}

.delete-btn:hover {
  background-color: #b8002e;
  border: none;
  color: #000000;
  transition: 0.3s;
}

.task {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  margin: 1.2rem;
}

.task-text {
  overflow-wrap: break-word;
  text-align: left;
  white-space: pre-wrap;
}

.completed-tasks-container {
  display: flex;
  flex-wrap: wrap;
}

.completed {
  color: #6e6e6e;
  opacity: 0.6;
  text-decoration: line-through;
}

.card {
  -moz-border-radius: 1rem;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-border-radius: 1rem;
  -ms-transition: transform 0.2s ease-in-out;
  -o-border-radius: 1rem;
  -o-transition: transform 0.2s ease-in-out;
  -webkit-border-radius: 1rem;
  -webkit-transition: transform 0.2s ease-in-out;
  background-color: #b8b8b8;
  border-radius: 1rem;
  color: black;
  margin-bottom: 2.4rem;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 30ch;
  overflow: hidden;
  padding: 1.2rem;
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
  white-space: nowrap;
}

.card:hover {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}